* {
    box-sizing: border-box;
  }

body{
    background-color: black;
    font-family: "Ubuntu", sans-serif;
    border: 20px solid orange;
    min-height: 100vh;
    margin: 0; padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


    
.photo {

    display: block;
    margin: 0 auto;
}
